#userTable
{
    border-collapse: collapse;
    width: 100%;
}

#userTable td, #userTable th
{
    padding: 8px;
}

#userTable th
{
    text-align: left;
}

#userTable tr:first-child
{
    border-bottom: 2px solid #BBBBBB;
}

#userTable tr:not(:first-child)
{
    border-bottom: 1px solid #BBBBBB;
}

#userTable input[type=text]
{
    max-width: 100%;
}

/*#userTable td + td
{
    border-left: 1px solid #000000;
}*/